{{!-- 
@param {Array<{ imageURL: string,
	name: string,
	pickupDate: string,
	dropoffDate: string,
	totalCost: number,
	pricePerMile: number }>} trucks An array of trucks to be rendered to the screen. See `./partials/truckStatus.handlebars`
--}}


<div class="renter-list">
	{{#each trucks as |truck|}}
	{{> truckStatus}}
	{{/each}}
</div>