<div class="signin-area">
	<div id="signin-screen">
		<form id="signin-form" class="signin-form">
			<div>
				<label for="signin-email">Email</label>
				<input required type="email" name="signin-email" id="signin-email">
			</div>
			<div>
				<label for="signin-password">Password</label>
				<input required type="password" name="signin-password" id="signin-password">
			</div>
			<div>
				<button type="submit">Sign In</button>
			</div>
		</form>
		<p style="text-align:center;">Don't have an account? <a id="show-signup" href="javascript:void(0);">Sign up!</a></p>
	</div>
	<div id="signup-screen" style="display: none;">
		<form id="signup-form" class="signin-form">
			<div>
				<label for="signup-email">Email</label>
				<input required type="email" name="signup-email" id="signup-email">
			</div>
			<div>
				<label for="signup-password">Password</label>
				<input required type="password" name="signup-password" id="signup-password">
			</div>
			<div>
				<label for="signup-password">Re-enter Password</label>
				<input required type="password" name="signup-password" id="signup-password">
			</div>
			<div>
				<button type="submit">Sign Up</button>
			</div>
		</form>
	</div>
</div>
<script src="/js/signin.js"></script>