{{!--
--}}
<section class="truck-specifications">
	<div class="row-1">
		<section class="image-column">
			<img src="https://placekitten.com/300/200" alt="Image of the vehicle">
		</section>
		<section>
			<div>
				<h3>17'</h3>
				<span>⭐⭐⭐⭐⭐</span>
			</div>
			<section class="pickup-date">
				<h3>Pickup Date:</h3>
				<p>May, 10 2023 12:37pm</p>
			</section>
			<section class="rent-time">
				<h3>Rent time:</h3>
				<p><span>5</span>hour<span style="display:inline-block;">s</span></p>
			</section>
			<button id="reserve-truck-button">Reserve</button>
		</section>
	</div>
	<div class="row-2">
		<section>
			<h3>Metrics:</h3>
			<main>
				<p><span>Fuel tank size:</span> <span>32</span> gallons</p>
				<p><span>Miles per gallon:</span> <span>6</span></p>
				<p><span>Mileage:</span> <span>12450</span> miles</p>
			</main>
		</section>
		<section>
			<h3>Pricing:</h3>
			<main>
				<p>$<span>3</span> per hour</p>
				<p>$<span>1</span> per mile</p>
			</main>
		</section>
	</div>
	<div class="row-3">
		<section>
			<h3>Sizing:</h3>
			<main>
				<p><span>Width:</span> <span>12</span> feet</p>
				<p><span>Height:</span> <span>17</span> feet</p>
				<p><span>Length:</span> <span>10</span> feet</p>
			</main>
		</section>
		<section>
			<h3>Features:</h3>
			<ul>
				<li>Seats for 2 people</li>
				<li>Air conditioning</li>
				<li>Automatic transmission</li>
				<li>Air bags</li>
				<li>AM/FM Radio</li>
				<li>Disc brakes</li>
			</ul>
		</section>
	</div>

</section>
<section class="truck-reviews">
	<h2>Reviews:</h2>
	<main>
		{{#each reviews as |review|}}
		{{/each}}
		{{> review rating=8 blurb="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum animi? Aliquam, quaerat nihil quisquam delectus corrupti dolor expedita? Eligendi totam a ducimus numquam? Hic veniam sunt voluptates iusto doloremque!"}}
		{{> review rating=8 blurb="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum animi? Aliquam, quaerat nihil quisquam delectus corrupti dolor expedita? Eligendi totam a ducimus numquam? Hic veniam sunt voluptates iusto doloremque!"}}
		{{> review rating=8 blurb="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum animi? Aliquam, quaerat nihil quisquam delectus corrupti dolor expedita? Eligendi totam a ducimus numquam? Hic veniam sunt voluptates iusto doloremque!"}}
		{{> review rating=8 blurb="Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, voluptatum animi? Aliquam, quaerat nihil quisquam delectus corrupti dolor expedita? Eligendi totam a ducimus numquam? Hic veniam sunt voluptates iusto doloremque!"}}
	</main>
</section>