:root {
	/* COLORS */
	--col-primary: #FB8B24;
	--col-secondary-1: #5B8C5A;
	--col-secondary-2: #CFD186;
	--col-secondary-3: #033F63;

	--col-primary-darkened: #bb7432;
	--col-secondary-1-darkened: #516e39;
	--col-secondary-2-darkened: #ad9166;
	--col-secondary-3-darkened: #032563;

	--col-neutral-1: #9999A1;
	--col-neutral-2: #273E47;
	--col-neutral-3: #2D080A;

	--text-light: rgb(222, 228, 228);
	--text-link: rgb(177, 177, 255); 
	--text-link-used: rgb(163, 138, 202); 


	--shadow-dark: rgb(0 0 0 / 38%) 1px 5px 5px 2px;
	--border-specifications: 1px solid var(--col-neutral-1);

	/* SIZING */
	--sizing-nav-height: 4em;
}

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	box-sizing: border-box;

	color: var(--text-light);
}

html {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100;
}

body {
	background-color: var(--col-neutral-2);

	margin: 0;
	padding: 0;

	width: 100%;
	min-height: 100%;
}

input {
	background-color: var(--col-neutral-2);
}

button {
	cursor: pointer;

	background-color: var(--col-secondary-3-darkened);
	box-shadow: var(--shadow-dark);

	font-size: 1em;

	padding: .5em 1em;
	border: none;
}

button:hover {
	background-color: var(--col-secondary-3);
}

a {
	color: var(--text-link);
}

a:visited {
	color: var(--text-link-used);
}

a:focus-visible,
button:focus-visible {
	outline: var(--text-light) solid 1px;
}

.dummy-navbar,
.main-navbar {
	margin: 0;
	padding: 0;

	width: 100%;
	height: var(--sizing-nav-height);
}

.main-navbar {
	box-shadow: var(--shadow-dark);
	background-color: var(--col-primary);

	margin: 0;
	padding: .5em 1em;

	position: fixed;

	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.main-navbar a {
	color: var(--text-light);
	text-decoration: none;
}

.main-navbar h1 {
	font-size: 2em;
	padding-left: .5em;
	padding-right: .5em;
}

.main-navbar>ul {
	margin: 0;
	padding: 0;

	display: flex;
	gap: 1em;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.main-navbar>ul>li {
	margin: 0;
	padding: 0;

	list-style: none;
}

.nav-button {
	margin: 0;
	padding: .5rem 1rem;
}

.main-navbar h1:hover,
.nav-button:hover {
	background-color: var(--col-primary-darkened);
}



.home {
	margin: 0;
	padding: 0 .5em;

	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: row-reverse;
	gap: .5em;
}

.home-trucks {
	flex-basis: 66%;
}

.home-trucks>main {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.home-search {
	flex-basis: 33%;
}

.truck-search-preview {
	cursor: pointer;
	background-color: var(--col-neutral-3);
	margin: 0;
	padding: 0;

	height: 150px;

	display: flex;
}

.truck-search-preview>main {
	flex: 1 1;
	margin: 0;
	padding: 1em 1em;
}

.truck-search-preview>main>* {
	margin: 0;
	padding: 0;
}

.truck-search-preview>main>h3 {
	margin-bottom: 1em;
}

.truck-search-preview>header>img {
	height: 100%;
}

.truck-search-form {
	display: flex;
	flex-direction: column;
}

.truck-search-form h3 {
	margin-bottom: .25em;
}

.pickup-date {}

.rent-time input {
	width: 5em;
}

.sort-by>main {
	display: flex;
	flex-direction: column;
}

.filter-width {}

.filter-height {}

.filter-length {}

.truck-specifications {
	margin: 0;
	padding: .5em;

	display: flex;
	flex-direction: column;
}

.truck-specifications h3 {
	margin: 0;
}

.truck-specifications>* {
	display: flex;
	flex: 1 1;
}

.truck-specifications>*>* {
	border-left: var(--border-specifications);
	border-bottom: var(--border-specifications);

	padding: 1em;
	padding-bottom: 0;

	flex: 1 1;
}

.truck-specifications>*>:last-child {
	border-right: var(--border-specifications);
}

.truck-specifications>.row-1 {
	display: flex;
	flex: 1 1;
}

.truck-specifications>.row-1>* {
	border-top: var(--border-specifications);
}

.truck-specifications>.row-1>:first-child {
	display: flex;
	flex-basis: 66%;
	padding: 0;
}

.truck-specifications>.row-1>:last-child {
	flex-basis: 33%;
	padding-bottom: 1em;
}


.truck-specifications>.row-1>:last-child>div:first-of-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.truck-specifications>.row-1>:last-child>div:last-of-type {
	display: flex;
	justify-content: center;
	align-items: center;
}

.truck-specifications>.row-1>:last-child h4 {
	margin-bottom: .25em;
}

.truck-specifications>.row-1>:last-child p {
	margin: 0;
}

.truck-reviews {
	margin: 0;
	padding: .5em;

	display: flex;
	flex-direction: column;
}

.truck-reviews>h2 {
	margin-left: 0.75em;
}

.review:first-of-type {
	border-top: var(--border-specifications);
}
.review {
	border-left: var(--border-specifications);
	border-bottom: var(--border-specifications);
	border-right: var(--border-specifications);

	padding :1em;
	padding-bottom: 0;
}

.signin-area {
	width: 100%;
	height: calc(100vh - var(--sizing-nav-height));

	display: flex;
	justify-content: center;
	align-items: center;
}

.signin-form {
	background-color: var(--col-secondary-1);
	text-align: right;

	margin: 0;
	padding-top: .5em;

	box-shadow: var(--shadow-dark);

	/* display: flex;
	flex-direction: column;
	gap:1em; */
}
.signin-form>* {
	margin: 2em;
}

.signin-form>:last-child {
	text-align: center;

	margin: 0;
	padding: 2em;

	background-color: var(--col-secondary-1-darkened);
}


@media screen and (max-width: 600px) {
	.main-navbar h1 {
		display: none;
	}

	.main-navbar {
		justify-content: flex-end;
	}

	.home {
		flex-direction: column;
	}

	.truck-specifications>.row-1,
	.truck-specifications>.row-2,
	.truck-specifications>.row-3 {
		flex-direction: column;
	}

	.truck-specifications>*>* {
		border-right: var(--border-specifications);
	}
	
	.truck-specifications>.row-1>:first-child>img {
		width:100%
	}

	.truck-specifications>.row-1>:last-child {
		border-top: none;
	}
}
